<%=
 	social_share_button_tag("Take the Letter Pledge today, and help turn Trump's tweets against him!", {
		url: "https://letterpledge.com"
	}) 
%>
<p class="information">
	Help make Donald Trump's favorite thing (tweeting) <br>
	and his least favorite thing (civil rights) one and the same.
</p>

<p class="information">
	Pledge to donate for every 140 characters Trump tweets from <a href="http://twitter.com/realDonaldTrump">@realDonaldTrump</a>.
</p>

<p class="information">
	Every week, we'll charge you based on the Twitter rampage Trump went on those seven days. <br>
	As soon as the payments process, we'll donate it all to the <a href="http://aclu.org"/>ACLU</a> in his name.
</p>
<%= form_for @user, url: url_for(controller: "home", action: "pledge") do |u| %>
	<div class="pledge">
		<span>I'll pledge<span>
		<%= u.number_field :pledge, value: 20, class: "pledge-input pledge-amount" %>
		<span class="pledge-cents">&cent;</span>
		<span> for ever 140 characters Trump tweets.</span>
		<br>
		<span>(That's about <span class="pledge-per-week">$9.80</span> a week on average.)</span>
	</div>

	<div class="limit-options">
		<div class="limit-option">
			<input type="radio" id="limit_off" name="limit" value="false" checked/>
			<label for="limit_off">Don't limit my contribution.</label>
		</div>
		<div class="limit-option">
			<input type="radio" id="limit_on" name="limit" value="true"/>
			<label for="limit_on">
				Limit my contribution to	
				<span class="limit-dollars">$</span>
				<%= u.number_field :pledge_limit, value: 25, class: "pledge-input pledge-limit" %>
				a week.	
			</label>
		</div>
	</div>
	
	<% if @user.errors.any? %>
		<div id="error_explanation">		
			<% @user.errors.full_messages.each do |msg| %>
				<div class="payment-error rails-error"><%= msg %></div>
			<% end %>
		</div>
	<% end %>
	<div class="payment-error stripe-error"></div>
	<div class="user-info">
		<div class="user-info-item">
			<label for="email_address">Email</label>
			<%= u.text_field :email_address %>
		</div>
		<div class="user-info-item">
			<label for="cc_number">Credit Card #</label>
			<input type="text" id="cc_number" maxlength="20" data-stripe="number"/>
		</div>
		<div class="user-info-item inline">
			<label for="exp_month">Expiration (MM/YY)</label>
			<input type="text" id="exp_month" class="expiration" maxlength="2" data-stripe="exp_month"/>
			/
			<input type="text" id="exp_year" class="expiration" maxlength="2" data-stripe="exp_year"/>
		</div>			
		<div class="user-info-item inline">
			<label for="cvc">CVC</label>
			<input type="text" id="cvc" maxlength="4" data-stripe="cvc"/>
		</div>
		<div class="user-info-item">
			<label for="zip_code">Zip Code</label>
			<input type="text" id="zip_code" maxlength="5" data-stripe="address_zip"/>
		</div>
	</div>
	<div class="pledge-complete">
		<%= u.submit "Pledge!", id: "pledgeSubmit", class:"pledge-submit", data: { disable_with: false } %>
	</div>
<% end %>
<div class="concerns">
	<h2>Concerns You Might Have</h2>

	<div class="concern">
		<p class="question">When do I get charged?</p>
		<p class="response">You'll be charged on a weekly basis, starting seven days after signing up.</p>
	</div>

	<div class="concern">
		<p class="question">Why not count tweets from <a href="http://twitter.com/POTUS">@POTUS</a> as well?</p>
		<p class="response">We could, but that account seems to be all PR at the moment. If he switches to using it, 
		we'll adjust accordingly.</p>
	</div>

	<div class="concern">
		<p class="question">How do I know you'll actually donate the money?</p>
		<p class="response">We'll post an image of our ACLU receipt on Twitter.</p>
	</div>

	<div class="concern">
		<p class="question">Are you storing my credit card information?</p>
		<p class="response">Your credit card information is stored with Stripe, and never hits our server.</p>
	</div>

	<div class="concern">
		<p class="question">Doesn't Stripe charge per transaction?</p>
		<p class="response">Yeah, 3% + $0.30 on every charge.</p>
	</div>

	<div class="concern">
		<p class="question">I don't like that.</p>
		<p class="response">That's fair. We recommend donating directly to the ACLU if that bothers you.</p>
	</div>

	<div class="concern">
		<p class="question">What's the point of this, then?</p>
		<p class="response">It's <i>symbolic</i>, man. Also, we're hoping that it makes donating a bit more fun, and convinces more people to do so.</p>
	</div>

	<div class="concern">
		<p class="question">Doesn't Stripe have special rules for non-profits?</p>
		<p class="response">They do, but we're not a registered non-profit. If this takes off, we'll absolutely
		contact them and see what they can do, though.</p>
	</div>

	<div class="concern">
		<p class="question">Are you associated with Stripe or the ACLU?</p>
		<p class="response">Nope, neither.</p>
	</div>

	<div class="concern">
		<p class="question">Can I un-pledge?</p>
		<p class="response">Yeah, click <a href="/unsubscribe">here</a>.</p>
	</div>
</div>

<%= javascript_include_tag "pledge" %>
