<h2>Un-Pledge</h2>
<p class="information">
	If you need to cancel your pledge, fill out the form below.
</p>

<p class="information">
	If your situation changes, please consider pledging again, or donating directly to the
	<a href="http://aclu.org">ACLU</a>.
</p>

<div class="payment-error">
	<%= flash[:message] %>
</div>

<%= form_tag url_for(controller: "unsubscribe", action: "do_unsubscribe") do %>
	<div class="user-info">
		<div class="user-info-item">
			<label for="email_address">Email</label>
			<%= text_field_tag "email_address" %>
		</div>
		<div class="user-info-item">
			<label for="last_four_digits">Last 4 Credit Card Digits</label>
			<%= text_field_tag "last_four_digits", "", maxlength: 4 %>
		</div>
	</div>

	<%= submit_tag "Un-Pledge", class:"pledge-submit unpledge" %> 
<% end %>
